In [15]:
import pandas as pd
import collections

In [2]:
vodafone_attendences_df = pd.read_parquet("../experiments/datasets/vodafone/vodafone_attendences.parquet", engine='pyarrow')
vodafone_attendences_df

,date,locType,locId,userCountry,userProfile,userCluster,value
0,2022-01-01,AL_2,22,ALB,COMMUTER,None,0
1,2022-01-01,AL_2,22,ALB,TOURIST,None,862
2,2022-01-01,AL_2,22,ALB,VISITOR,None,44
3,2022-01-01,AL_2,22,AND,TOURIST,None,0
4,2022-01-01,AL_2,22,AND,VISITOR,None,0
...,...,...,...,...,...,...,...
4584498,2024-03-31,TN_MKT_POI,STAZ_TREN,SRB,VISITOR,UE,0
4584499,2024-03-31,TN_MKT_POI,STAZ_TREN,SWE,TOURIST,UE,0
4584500,2024-03-31,TN_MKT_POI,STAZ_TREN,SWE,VISITOR,UE,0
4584501,2024-03-31,TN_MKT_POI,STAZ_TREN,USA,TOURIST,None,0
4584502,2024-03-31,TN_MKT_POI,STAZ_TREN,USA,VISITOR,None,0

In [3]:
START_DATE = "2023-07-01"
END_DATE = "2023-09-30"

LOC_ID_COMUNE_MOLVENO = "27"
LOC_TYPE_COMUNE_MOLVENO = "TN_MKT_AL_3"

In [4]:
attendences_df = vodafone_attendences_df[
    (vodafone_attendences_df['date'] >= START_DATE) &
    (vodafone_attendences_df['date'] <= END_DATE) &
    (vodafone_attendences_df["value"] != 0) &
    (vodafone_attendences_df["userProfile"] != 'INHABITANT') &
    (vodafone_attendences_df["userProfile"] != 'COMMUTER') &
    (vodafone_attendences_df["locId"] == LOC_ID_COMUNE_MOLVENO) &
    (vodafone_attendences_df["locType"] == LOC_TYPE_COMUNE_MOLVENO)
]
attendences_df = attendences_df[['date','userProfile','value']]
attendences_df

               date userProfile  value
2977735  2023-07-01     TOURIST     18
2977736  2023-07-01     VISITOR     18
2977744  2023-07-01     TOURIST    108
2977745  2023-07-01     VISITOR     36
2977746  2023-07-01     TOURIST    216
...             ...         ...    ...
3619685  2023-09-30     TOURIST    929
3619686  2023-09-30     VISITOR   1358
3619697  2023-09-30     TOURIST     25
3619698  2023-09-30     VISITOR     25
3619699  2023-09-30     TOURIST     22

[1546 rows x 3 columns]

In [5]:
tourist_attendences_df = attendences_df[attendences_df['userProfile'] == "TOURIST"][['date','value']].groupby('date').sum()
tourist_attendences_df['weakday'] = pd.to_datetime(tourist_attendences_df.index).weekday
tourist_attendences_df

            value  weakday
date
2023-07-01   2924        5
2023-07-02   2987        6
2023-07-03   2544        0
2023-07-04   2547        1
2023-07-05   2762        2
...           ...      ...
2023-09-26   1183        1
2023-09-27   1070        2
2023-09-28   1083        3
2023-09-29   1526        4
2023-09-30   1915        5

[92 rows x 2 columns]

In [6]:
excursionist_attendences_df = attendences_df[attendences_df['userProfile'] == "VISITOR"][['date','value']].groupby('date').sum()
excursionist_attendences_df['weakday'] = pd.to_datetime(excursionist_attendences_df.index).weekday
excursionist_attendences_df

            value  weakday
date
2023-07-01   1944        5
2023-07-02   4300        6
2023-07-03   2413        0
2023-07-04   1958        1
2023-07-05   2167        2
...           ...      ...
2023-09-26    763        1
2023-09-27    899        2
2023-09-28   1089        3
2023-09-29    703        4
2023-09-30   1815        5

[92 rows x 2 columns]

In [7]:
meteotrentino_bollettino_df = pd.read_parquet("../experiments/datasets/meteo/meteotrentino_bollettino.parquet", engine='pyarrow')
meteotrentino_bollettino_df

,data,comune,ambito,meteo,tmin,tmax,probprec06-12,intprec06-12,probtemp06-12,probprec12-18,intprec12-18,probtemp12-18
0,2018-03-03,BASELGA DI PINE',TRENTO,Molto nuvoloso,-4,2,molto bassa,debole,--,molto bassa,debole,--
1,2018-03-03,CANAZEI,MADONNA,Molto nuvoloso,-6,4,molto bassa,debole,--,molto bassa,debole,--
2,2018-03-03,CAVALESE,FIEMME,Molto nuvoloso,-4,3,molto bassa,debole,--,molto bassa,debole,--
3,2018-03-03,FOLGARIA,ALTIPIANO,Molto nuvoloso,-3,2,molto bassa,debole,--,molto bassa,debole,--
4,2018-03-03,FONDO,VALDINON,Molto nuvoloso,-4,3,molto bassa,debole,--,molto bassa,debole,--
...,...,...,...,...,...,...,...,...,...,...,...,...
41408,2024-05-31,COMANO TERME,GARDA,Coperto con piogge moderate,12,15,alta,forte,bassa,alta,moderata,bassa
41409,2024-05-31,BEZZECCA,GARDA,Coperto con piogge moderate,11,14,alta,forte,bassa,alta,moderata,bassa
41410,2024-05-31,PIEVE DI BONO,MADONNA,Coperto con piogge moderate,13,16,alta,forte,bassa,alta,moderata,bassa
41411,2024-05-31,CENTA SAN NICOLO,ALTIPIANO,Coperto con piogge moderate,11,14,alta,forte,bassa,alta,moderata,bassa
41412,2024-05-31,SAN MARTINO DI CASTROZZA,SMARTINO,Coperto con piogge moderate,8,11,alta,forte,bassa,alta,moderata,bassa

In [8]:
meteo_df = meteotrentino_bollettino_df[
    (meteotrentino_bollettino_df["comune"].str.contains("MOLVENO")) &
    (meteotrentino_bollettino_df["data"] >= START_DATE) &
    (meteotrentino_bollettino_df["data"] <= END_DATE)
][['data', 'probprec06-12']].set_index('data')
meteo_df

           probprec06-12
data
2023-07-01         media
2023-07-04   molto bassa
2023-07-06         media
2023-07-08         media
2023-07-11   molto bassa
2023-07-14   molto bassa
2023-07-15   molto bassa
2023-07-16   molto bassa
2023-07-17   molto bassa
2023-07-19         bassa
2023-07-22         bassa
2023-07-23            --
2023-07-24   molto bassa
2023-07-25          alta
2023-07-28            --
2023-07-29            --
2023-08-02            --
2023-08-03   molto bassa
2023-08-05         bassa
2023-08-06         bassa
2023-08-07   molto bassa
2023-08-11   molto bassa
2023-08-12   molto bassa
2023-08-14   molto bassa
2023-08-17   molto bassa
2023-08-18   molto bassa
2023-08-19   molto bassa
2023-08-20   molto bassa
2023-08-21   molto bassa
2023-08-22   molto bassa
2023-08-24   molto bassa
2023-08-25   molto bassa
2023-08-26         bassa
2023-08-28          alta
2023-08-30         bassa
2023-09-01   molto bassa
2023-09-02   molto bassa
2023-09-03   molto bassa
2023-09-06            --
2023-09-08            --
2023-09-09            --
2023-09-11            --
2023-09-14         bassa
2023-09-15         bassa
2023-09-16   molto bassa
2023-09-19   molto bassa
2023-09-20   molto bassa
2023-09-22          alta
2023-09-24            --
2023-09-25            --
2023-09-29            --
2023-09-30            --

In [45]:
freq = dict(collections.Counter(meteo_df['probprec06-12'].values))
freq.pop('--')

size = sum(freq.values())
dist = { k: v/size for k,v in freq.items() }

dist

{'media': 0.075, 'molto bassa': 0.65, 'bassa': 0.2, 'alta': 0.075}

In [9]:
tourist_attendences_meteo_df = pd.merge(tourist_attendences_df, meteo_df, how='outer', left_index=True, right_index=True).fillna('--')
tourist_attendences_meteo_df

            value  weakday probprec06-12
2023-07-01   2924        5         media
2023-07-02   2987        6            --
2023-07-03   2544        0            --
2023-07-04   2547        1   molto bassa
2023-07-05   2762        2            --
...           ...      ...           ...
2023-09-26   1183        1            --
2023-09-27   1070        2            --
2023-09-28   1083        3            --
2023-09-29   1526        4            --
2023-09-30   1915        5            --

[92 rows x 3 columns]

In [10]:
excursionist_attendences_meteo_df = pd.merge(excursionist_attendences_df, meteo_df, how='outer', left_index=True, right_index=True).fillna('--')
excursionist_attendences_meteo_df

            value  weakday probprec06-12
2023-07-01   1944        5         media
2023-07-02   4300        6            --
2023-07-03   2413        0            --
2023-07-04   1958        1   molto bassa
2023-07-05   2167        2            --
...           ...      ...           ...
2023-09-26    763        1            --
2023-09-27    899        2            --
2023-09-28   1089        3            --
2023-09-29    703        4            --
2023-09-30   1815        5            --

[92 rows x 3 columns]

In [11]:
def compute_stats(attendences_meteo_df):
    presences_stats = {}
    
    sample = attendences_meteo_df[['value']]
    (mean, std) = (sample.mean().value, sample.std().value)
    presences_stats[-1, "*"] = {'mean':mean, 'std':std}
    
    for w in range(7):
        sample = attendences_meteo_df[attendences_meteo_df['weakday']==w][['value']]
        (mean, std) = (sample.mean().value, sample.std().value)
        presences_stats[w, "*"] = {'mean':mean, 'std':std}
        
    for p in attendences_meteo_df['probprec06-12'].unique():
        if p == '--': continue
        sample = attendences_meteo_df[attendences_meteo_df['probprec06-12']==p][['value']]
        (mean, std) = (sample.mean().value, sample.std().value)
        presences_stats[-1, p] = {'mean':mean, 'std':std}
        
        for w in range(7):
            sample = attendences_meteo_df[(attendences_meteo_df['weakday']==w) &
                 (attendences_meteo_df['probprec06-12']==p)][['value']]
            if len(sample) == 0:
                (mean, std) = ((presences_stats[w, '*']['mean'] + presences_stats[-1,p]['mean']) * 0.5,
                               (presences_stats[w, '*']['std'] * presences_stats[-1,p]['std']) ** 0.5)
            elif len(sample) == 1:
                (mean, std) =  (sample.mean().value,
                                (presences_stats[w, '*']['std'] * presences_stats[-1,p]['std']) ** 0.5)
            else:
                (mean, std) = (sample.mean().value, sample.std().value)
            presences_stats[w, p] = {'mean':mean, 'std':std}
    
    return presences_stats

In [12]:
tourist_presences_stats = compute_stats(tourist_attendences_meteo_df)
tourist_presences_stats

{(-1, '*'): {'mean': 3292.75, 'std': 1127.9532044010873},
 (0, '*'): {'mean': 3037.4615384615386, 'std': 1171.188258094076},
 (1, '*'): {'mean': 2945.230769230769, 'std': 1117.096247259396},
 (2, '*'): {'mean': 3031.4615384615386, 'std': 1151.6471258871368},
 (3, '*'): {'mean': 3136.4615384615386, 'std': 1167.2054671582473},
 (4, '*'): {'mean': 3361.230769230769, 'std': 994.882920569564},
 (5, '*'): {'mean': 3858.5, 'std': 1151.389511717172},
 (6, '*'): {'mean': 3635.3846153846152, 'std': 1051.836927986902},
 (-1, 'media'): {'mean': 3374.0, 'std': 814.3095234614416},
 (0, 'media'): {'mean': 3205.7307692307695, 'std': 976.5806430255634},
 (1, 'media'): {'mean': 3159.6153846153848, 'std': 953.7620839425122},
 (2, 'media'): {'mean': 3202.7307692307695, 'std': 968.3993093124825},
 (3, 'media'): {'mean': 2884.0, 'std': 974.9187287888266},
 (4, 'media'): {'mean': 3367.6153846153848, 'std': 900.0792392611492},
 (5, 'media'): {'mean': 3619.0, 'std': 982.878425849301},
 (6, 'media'): {'mean': 3504.6923076923076, 'std': 925.4841044492125},
 (-1, 'molto bassa'): {'mean': 3897.4615384615386, 'std': 1067.3545326935837},
 (0, 'molto bassa'): {'mean': 4197.2, 'std': 531.3583536559861},
 (1, 'molto bassa'): {'mean': 2849.0, 'std': 1111.0871552973092},
 (2, 'molto bassa'): {'mean': 1768.0, 'std': 1108.7000405335853},
 (3, 'molto bassa'): {'mean': 4418.0, 'std': 788.4484764396466},
 (4, 'molto bassa'): {'mean': 4071.2, 'std': 765.3529904560378},
 (5, 'molto bassa'): {'mean': 4236.6, 'std': 1349.955295556116},
 (6, 'molto bassa'): {'mean': 4130.333333333333, 'std': 919.204728737474},
 (-1, 'bassa'): {'mean': 3494.875, 'std': 1279.9593115742837},
 (0, 'bassa'): {'mean': 3266.1682692307695, 'std': 1224.3664960108872},
 (1, 'bassa'): {'mean': 3220.0528846153848, 'std': 1195.758229578351},
 (2, 'bassa'): {'mean': 3111.0, 'std': 620.8397538817887},
 (3, 'bassa'): {'mean': 1653.0, 'std': 1222.2829075993866},
 (4, 'bassa'): {'mean': 1827.0, 'std': 1128.4545441041175},
 (5, 'bassa'): {'mean': 4564.666666666667, 'std': 140.25809542886762},
 (6, 'bassa'): {'mean': 4563.0, 'std': 1160.3053349159973},
 (-1, 'alta'): {'mean': 2839.3333333333335, 'std': 401.7229559451804},
 (0, 'alta'): {'mean': 2670.0, 'std': 685.9250753616163},
 (1, 'alta'): {'mean': 3298.0, 'std': 669.8979075383895},
 (2, 'alta'): {'mean': 2935.397435897436, 'std': 680.1787174097348},
 (3, 'alta'): {'mean': 2987.897435897436, 'std': 684.7577896323534},
 (4, 'alta'): {'mean': 2550.0, 'std': 632.1924609409538},
 (5, 'alta'): {'mean': 3348.916666666667, 'std': 680.1026379093822},
 (6, 'alta'): {'mean': 3237.3589743589746, 'std': 650.0361835184224}}

In [13]:
excursionist_presences_stats = compute_stats(excursionist_attendences_meteo_df)
excursionist_presences_stats

{(-1, '*'): {'mean': 3198.0760869565215, 'std': 1849.4465714155635},
 (0, '*'): {'mean': 2830.0, 'std': 2083.9047483030504},
 (1, '*'): {'mean': 2861.0, 'std': 2259.344189508687},
 (2, '*'): {'mean': 2746.230769230769, 'std': 1543.493070594863},
 (3, '*'): {'mean': 2810.3076923076924, 'std': 1691.1208011560157},
 (4, '*'): {'mean': 2940.153846153846, 'std': 1752.114714954182},
 (5, '*'): {'mean': 3690.5, 'std': 1471.7294771275576},
 (6, '*'): {'mean': 4470.461538461538, 'std': 1752.059388994592},
 (-1, 'media'): {'mean': 2647.0, 'std': 1876.980820360187},
 (0, 'media'): {'mean': 2738.5, 'std': 1977.7384164803868},
 (1, 'media'): {'mean': 2754.0, 'std': 2059.307094704439},
 (2, 'media'): {'mean': 2696.6153846153848, 'std': 1702.0889782456761},
 (3, 'media'): {'mean': 1223.0, 'std': 1781.628835835903},
 (4, 'media'): {'mean': 2793.576923076923, 'std': 1813.4733841553495},
 (5, 'media'): {'mean': 3359.0, 'std': 2001.1121907579295},
 (6, 'media'): {'mean': 3558.730769230769, 'std': 1813.4447521981024},
 (-1, 'molto bassa'): {'mean': 4346.038461538462, 'std': 1769.3315682656935},
 (0, 'molto bassa'): {'mean': 4691.8, 'std': 1950.4303884014932},
 (1, 'molto bassa'): {'mean': 2945.5, 'std': 1906.8120865290668},
 (2, 'molto bassa'): {'mean': 1126.0, 'std': 1652.5589294191113},
 (3, 'molto bassa'): {'mean': 4809.333333333333, 'std': 1678.8878263104218},
 (4, 'molto bassa'): {'mean': 4475.6, 'std': 1484.8472311992234},
 (5, 'molto bassa'): {'mean': 4684.0, 'std': 1469.9692173647718},
 (6, 'molto bassa'): {'mean': 5468.0, 'std': 1604.9012430676225},
 (-1, 'bassa'): {'mean': 2776.875, 'std': 1316.2643500777929},
 (0, 'bassa'): {'mean': 2803.4375, 'std': 1656.19127190948},
 (1, 'bassa'): {'mean': 2818.9375, 'std': 1724.4982491164465},
 (2, 'bassa'): {'mean': 2672.5, 'std': 287.79245994292484},
 (3, 'bassa'): {'mean': 1114.0, 'std': 1491.9658247549303},
 (4, 'bassa'): {'mean': 1049.0, 'std': 1518.6329828305797},
 (5, 'bassa'): {'mean': 3376.0, 'std': 986.9240092327271},
 (6, 'bassa'): {'mean': 4579.0, 'std': 1518.6090059500705},
 (-1, 'alta'): {'mean': 1169.0, 'std': 697.5507150021423},
 (0, 'alta'): {'mean': 900.0, 'std': 1205.6654789680063},
 (1, 'alta'): {'mean': 1961.0, 'std': 1255.3912357618722},
 (2, 'alta'): {'mean': 1957.6153846153845, 'std': 1037.624544329161},
 (3, 'alta'): {'mean': 1989.6538461538462, 'std': 1086.1134949909122},
 (4, 'alta'): {'mean': 646.0, 'std': 1105.5265135590664},
 (5, 'alta'): {'mean': 2429.75, 'std': 1013.2156478559028},
 (6, 'alta'): {'mean': 2819.730769230769, 'std': 1105.5090589947213}}