In [15]:
import pandas as pd
import digitalhub as dh

# Example of creating a DH project

In [9]:
project = dh.get_or_create_project(
    name="overtourism"
)

In [6]:
contamezzi_di = project.new_dataitem(
                    name="contamezzi",
                    kind="table",
                    path="s3://datalake/projects/tourism/molveno/contamezzi.parquet")

In [8]:
obj = dh_data.get_dataitem(
                    project="overtourism",
                    entity_id="a634372f-a792-4bbd-8052-069932c4c0e2")
obj

{'project': 'overtourism', 'name': 'contamezzi', 'id': 'a634372f-a792-4bbd-8052-069932c4c0e2', 'kind': 'table', 'key': 'store://overtourism/dataitems/table/contamezzi:a634372f-a792-4bbd-8052-069932c4c0e2', 'metadata': {'project': 'overtourism', 'name': 'contamezzi', 'version': 'a634372f-a792-4bbd-8052-069932c4c0e2', 'created': '2024-09-27T14:54:37.329Z', 'updated': '2024-09-27T14:54:37.329Z', 'created_by': 'u_328e892e9fb74d0baeb9c616bc13475b', 'updated_by': 'u_328e892e9fb74d0baeb9c616bc13475b', 'embedded': True}, 'spec': {'path': 's3://datalake/projects/tourism/molveno/contamezzi.parquet'}, 'status': {'state': 'CREATED'}, 'user': 'u_328e892e9fb74d0baeb9c616bc13475b'}

In [9]:
obj.as_df()

,data,sensore,direzione,comune,cl1,cl2,cl3,cl4,cl5,cl6,cl7,nonrilevato
0,2023-06-29 09:00:00,M40,1,MOLVENO,76,16,1,1,2,0,0,1
1,2023-06-29 09:00:00,M40,2,MOLVENO,53,12,4,0,2,0,0,3
2,2023-06-29 10:00:00,M40,1,MOLVENO,166,44,5,3,4,1,0,2
3,2023-06-29 10:00:00,M40,2,MOLVENO,116,31,5,6,1,0,0,6
4,2023-06-29 11:00:00,M40,1,MOLVENO,147,38,4,8,3,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
13821,2023-10-04 21:00:00,M47,2,MOLVENO,11,0,0,0,0,0,0,0
13822,2023-10-04 22:00:00,M47,1,MOLVENO,1,2,0,0,0,0,0,0
13823,2023-10-04 22:00:00,M47,2,MOLVENO,3,0,0,0,0,0,0,0
13824,2023-10-04 23:00:00,M47,1,MOLVENO,4,1,0,0,0,0,0,0
13825,2023-10-04 23:00:00,M47,2,MOLVENO,2,0,0,0,0,0,0,0

# Upload new datasets to the overtourism project

In [3]:
import boto3
from botocore.client import Config

In [4]:
s3 = boto3.client('s3', endpoint_url="http://minio:9000", config=Config(s3={'addressing_style': 'path'}))
response = s3.list_buckets()

# Output the bucket names
print('Existing buckets:')
for bucket in response['Buckets']:
    print(f'{bucket["Name"]}')

Existing buckets:
datalake

In [10]:
response = s3.list_objects(
    Bucket='datalake',
)
for el in response["Contents"]:
    if el["Key"].startswith("projects/tourism"):
        print(el["Key"])
        s3.get

projects/tourism/_origin/13 BIS 2023 2024.ods
projects/tourism/_origin/BS4_contapersone.zip
projects/tourism/_origin/Dati Molveno_altre stazioni 01_08_2023-01_10_2023.csv
projects/tourism/_origin/Gestionestrade_contamezzi.zip
projects/tourism/_origin/Numero e capienza esercizi di ristorazione_bar area del lago.xlsx
projects/tourism/_origin/Piscina Presenze .xlsx
projects/tourism/_origin/README.docx
projects/tourism/_origin/Relazione REV00.pdf
projects/tourism/_origin/Report indagine QA Molveno - estate 2023.pdf
projects/tourism/_origin/Statistiche_parcheggi_Molveno.xlsx
projects/tourism/_origin/TRENTINO-apt_2023.geojson
projects/tourism/_origin/TRENTINO-comuni_Vodafone_2023.geojson
projects/tourism/_origin/TRENTINO-poi_Vodafone_2023.json
projects/tourism/_origin/TRENTINO-provincia.geojson
projects/tourism/_origin/Trentino_survey_post_vacanza_inverno.zip
projects/tourism/_origin/Vodafone_attendeces.zip
projects/tourism/_origin/meteotrentino_bollettino-ERRATA.csv
projects/tourism/_origin/meteotrentino_bollettino.csv
projects/tourism/_origin/vodafone_aree.csv
projects/tourism/_origin/vodafone_attendences.csv
projects/tourism/_origin/vodafone_attendences_STR.csv
projects/tourism/_origin/vodafone_glossario.html
projects/tourism/depuratore_acqua/depuratore.parquet
projects/tourism/depuratore_acqua/qualita_aria.parquet
projects/tourism/manifestazioni/manifestazioni.parquet
projects/tourism/meteo/dati_pioggia.parquet
projects/tourism/meteo/meteotrentino_bollettino.parquet
projects/tourism/molveno/contamezzi.parquet
projects/tourism/molveno/contamezzi_descrizione_sensore.parquet
projects/tourism/molveno/contapersone_passaggi.parquet
projects/tourism/molveno/contapersone_presenze.parquet
projects/tourism/molveno/parcheggi_posti.parquet
projects/tourism/molveno/statistiche_parcheggi_molveno.parquet
projects/tourism/movimento_turistico/movimento_turistico.parquet
projects/tourism/movimento_turistico/movimento_turistico_molveno.parquet
projects/tourism/piscina/piscina_presenze.parquet
projects/tourism/ristorazione/ristoranti.parquet
projects/tourism/strutture_ricettive/extra_strutture.parquet
projects/tourism/surveys/survey.parquet
projects/tourism/tgp_card/user_data.parquet
projects/tourism/tgp_card/user_events.parquet
projects/tourism/vodafone/vodafone_aree.parquet
projects/tourism/vodafone/vodafone_attendences.parquet
projects/tourism/vodafone/vodafone_attendences_ALL.parquet
projects/tourism/vodafone/vodafone_attendences_STR.parquet

# Download overtourism datasets from the bucket

In [13]:
s3.download_file("datalake", "projects/tourism/vodafone/vodafone_attendences_ALL.parquet", "test.parquet")

In [16]:
test = pd.read_parquet("test.parquet")
test

,date,locType,locId,userCountry,userProfile,userCluster,value
0,2022-01-01,AL_2,22,ALB,COMMUTER,None,0
1,2022-01-01,AL_2,22,ALB,TOURIST,None,862
2,2022-01-01,AL_2,22,ALB,VISITOR,None,44
3,2022-01-01,AL_2,22,AND,TOURIST,None,0
4,2022-01-01,AL_2,22,AND,VISITOR,None,0
...,...,...,...,...,...,...,...
304378,2024-03-31,TN_MKT_POI,STAZ_ROVE,STR,TOURIST,STR,25
304379,2024-03-31,TN_MKT_POI,STAZ_ROVE,STR,VISITOR,STR,51
304380,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,COMMUTER,STR,0
304381,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,TOURIST,STR,50
304382,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,VISITOR,STR,311