In [11]:
import pandas as pd
from datasets_tourism import *
from sklearn.preprocessing import MinMaxScaler

In [12]:
START_DATE = "2023-07-01"
END_DATE = "2023-09-30"
SPECIFIC_DAY = "2023-07-29"

# Analyse the attendance at spiaggia

In [13]:
contapersone_presenze_df.rename(columns={"data": "date"}, inplace=True)
contapersone_presenze_df["date"] = pd.to_datetime(contapersone_presenze_df["date"]) # or contapersone_presenze_df["date"].map(pd.to_datetime)
#contapersone_presenze_df = contapersone_presenze_df[(contapersone_presenze_df['date'] >= START_DATE) & (contapersone_presenze_df['date'] <= END_DATE)] 

varchi = contapersone_presenze_df['varco'].unique()
contapersone = contapersone_presenze_df.copy()
for v in varchi:
    contapersone[v] = contapersone['presenze'] * (contapersone['varco'] == v)
contapersone = contapersone.drop(columns=['varco']).groupby('date').sum().reset_index().rename(columns={'presenze':'contapersone'})
contapersone

,date,contapersone,Varco 1,Varco 2,Varco 3,Varco 4,Varco 5,Varco 6,Varco 7,Varco 8,Varco 9
0,2023-07-15,1496,183,204,304,199,117,83,161,105,140
1,2023-07-16,2143,299,305,340,321,157,137,228,106,250
2,2023-07-17,1663,175,262,307,144,135,77,140,64,359
3,2023-07-18,1518,129,300,280,152,117,83,146,73,238
4,2023-07-19,1345,111,153,309,109,130,65,137,55,276
...,...,...,...,...,...,...,...,...,...,...,...
65,2023-09-18,1081,61,55,107,152,50,73,174,77,332
66,2023-09-19,1468,104,69,175,210,83,141,249,116,321
67,2023-09-20,1699,187,52,122,206,121,123,260,105,523
68,2023-09-21,2382,427,83,114,390,236,185,343,185,419
69,2023-09-22,1030,93,43,85,138,127,77,199,73,195

In [14]:
print(f"Standard deviation: {contapersone['contapersone'].std()}, Mean: {contapersone['contapersone'].mean()}")

Standard deviation: 1029.2480119904706, Mean: 2238.5285714285715

In [16]:
scaler = MinMaxScaler()
contapersone["contapersone_scaled"] = scaler.fit_transform(contapersone[["contapersone"]])
contapersone

,date,contapersone,Varco 1,Varco 2,Varco 3,Varco 4,Varco 5,Varco 6,Varco 7,Varco 8,Varco 9,contapersone_scaled
0,2023-07-15,1496,183,204,304,199,117,83,161,105,140,0.190840
1,2023-07-16,2143,299,305,340,321,157,137,228,106,250,0.355471
2,2023-07-17,1663,175,262,307,144,135,77,140,64,359,0.233333
3,2023-07-18,1518,129,300,280,152,117,83,146,73,238,0.196438
4,2023-07-19,1345,111,153,309,109,130,65,137,55,276,0.152417
...,...,...,...,...,...,...,...,...,...,...,...,...
65,2023-09-18,1081,61,55,107,152,50,73,174,77,332,0.085242
66,2023-09-19,1468,104,69,175,210,83,141,249,116,321,0.183715
67,2023-09-20,1699,187,52,122,206,121,123,260,105,523,0.242494
68,2023-09-21,2382,427,83,114,390,236,185,343,185,419,0.416285
69,2023-09-22,1030,93,43,85,138,127,77,199,73,195,0.072265

## Vodafone attendances

In [17]:
vodafone_attendences_df

,date,locType,locId,userCountry,userProfile,userCluster,value
0,2022-01-01,AL_2,22,ALB,COMMUTER,None,0
1,2022-01-01,AL_2,22,ALB,TOURIST,None,862
2,2022-01-01,AL_2,22,ALB,VISITOR,None,44
3,2022-01-01,AL_2,22,AND,TOURIST,None,0
4,2022-01-01,AL_2,22,AND,VISITOR,None,0
...,...,...,...,...,...,...,...
4584498,2024-03-31,TN_MKT_POI,STAZ_TREN,SRB,VISITOR,UE,0
4584499,2024-03-31,TN_MKT_POI,STAZ_TREN,SWE,TOURIST,UE,0
4584500,2024-03-31,TN_MKT_POI,STAZ_TREN,SWE,VISITOR,UE,0
4584501,2024-03-31,TN_MKT_POI,STAZ_TREN,USA,TOURIST,None,0
4584502,2024-03-31,TN_MKT_POI,STAZ_TREN,USA,VISITOR,None,0

## Vodafone attendances Stranieri (consider also this info)

In [18]:
vodafone_attendences_STR_df

,date,locType,locId,userCountry,userProfile,userCluster,value
0,2022-01-01,AL_2,22,STR,COMMUTER,STR,293
1,2022-01-01,AL_2,22,STR,TOURIST,STR,41428
2,2022-01-01,AL_2,22,STR,VISITOR,STR,9519
3,2022-01-01,TN_MKT_AL_3,104,STR,COMMUTER,STR,0
4,2022-01-01,TN_MKT_AL_3,104,STR,TOURIST,STR,0
...,...,...,...,...,...,...,...
304378,2024-03-31,TN_MKT_POI,STAZ_ROVE,STR,TOURIST,STR,25
304379,2024-03-31,TN_MKT_POI,STAZ_ROVE,STR,VISITOR,STR,51
304380,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,COMMUTER,STR,0
304381,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,TOURIST,STR,50
304382,2024-03-31,TN_MKT_POI,STAZ_TREN,STR,VISITOR,STR,311

## Timeframe of one week before ferragosto

## Timeframe of the week of ferragosto

## Timeframe of one week after ferragosto

# Factors that may affect the presences in spiaggia

## Meteo and Pioggia

In [6]:
meteotrentino_bollettino_df.rename(columns={"data": "date"}, inplace=True)
meteotrentino_bollettino_df["date"] = pd.to_datetime(meteotrentino_bollettino_df["date"])
meteo_timeframe_df = meteotrentino_bollettino_df[
    (meteotrentino_bollettino_df["comune"].str.contains("MOLVENO")) &
    (meteotrentino_bollettino_df["date"] >= START_DATE) &
    (meteotrentino_bollettino_df["date"] <= "2023-08-30")
]
meteo_timeframe_df

,date,comune,ambito,meteo,tmin,tmax,probprec06-12,intprec06-12,probtemp06-12,probprec12-18,intprec12-18,probtemp12-18
36742,2023-07-01,MOLVENO,DOLOMITI,Molto nuvoloso con piogge deboli,14,24,media,moderata,media,media,moderata,media
36784,2023-07-04,MOLVENO,DOLOMITI,Nuvoloso,13,23,molto bassa,debole,molto bassa,media,moderata,media
36806,2023-07-06,MOLVENO,DOLOMITI,Nuvoloso con piogge deboli,12,23,media,debole,media,alta,moderata,alta
36816,2023-07-08,MOLVENO,DOLOMITI,Poco nuvoloso,13,26,media,debole,molto bassa,bassa,debole,bassa
36841,2023-07-11,MOLVENO,DOLOMITI,Poco nuvoloso,18,31,molto bassa,debole,molto bassa,bassa,debole,bassa
36863,2023-07-14,MOLVENO,DOLOMITI,Poco nuvoloso,12,26,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
36885,2023-07-15,MOLVENO,DOLOMITI,Sereno,13,27,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
36907,2023-07-16,MOLVENO,DOLOMITI,Sereno,14,27,molto bassa,debole,molto bassa,bassa,debole,bassa
36929,2023-07-17,MOLVENO,DOLOMITI,Poco nuvoloso,16,28,molto bassa,debole,molto bassa,bassa,debole,bassa
36951,2023-07-19,MOLVENO,DOLOMITI,Nuvoloso con piogge deboli,15,28,bassa,debole,bassa,alta,moderata,alta
36973,2023-07-22,MOLVENO,DOLOMITI,Nuvoloso con piogge deboli,12,24,bassa,debole,bassa,media,moderata,bassa
36995,2023-07-23,MOLVENO,DOLOMITI,Poco nuvoloso,13,25,--,--,--,molto bassa,debole,molto bassa
37017,2023-07-24,MOLVENO,DOLOMITI,Nuvoloso con piogge deboli,16,27,molto bassa,debole,molto bassa,media,moderata,media
37039,2023-07-25,MOLVENO,DOLOMITI,Molto nuvoloso con piogge deboli,16,23,alta,moderata,alta,alta,moderata,alta
37061,2023-07-28,MOLVENO,DOLOMITI,Poco nuvoloso,11,28,--,--,--,bassa,debole,bassa
37083,2023-07-29,MOLVENO,DOLOMITI,Poco nuvoloso,13,27,--,--,--,bassa,debole,bassa
37105,2023-08-02,MOLVENO,DOLOMITI,Poco nuvoloso,13,24,--,--,--,bassa,debole,bassa
37127,2023-08-03,MOLVENO,DOLOMITI,Nuvoloso,17,23,molto bassa,debole,molto bassa,bassa,debole,bassa
37146,2023-08-05,MOLVENO,DOLOMITI,Nuvoloso con piogge deboli,11,21,bassa,debole,molto bassa,molto bassa,debole,molto bassa
37168,2023-08-06,MOLVENO,DOLOMITI,Nuvoloso,6,21,bassa,debole,bassa,bassa,debole,bassa
37190,2023-08-07,MOLVENO,DOLOMITI,Poco nuvoloso,8,20,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37212,2023-08-11,MOLVENO,DOLOMITI,Poco nuvoloso,14,27,molto bassa,debole,molto bassa,bassa,debole,bassa
37234,2023-08-12,MOLVENO,DOLOMITI,Poco nuvoloso,13,26,molto bassa,debole,molto bassa,bassa,debole,bassa
37256,2023-08-14,MOLVENO,DOLOMITI,Poco nuvoloso,14,28,molto bassa,debole,molto bassa,bassa,debole,bassa
37290,2023-08-17,MOLVENO,DOLOMITI,Nuvoloso,14,28,molto bassa,debole,molto bassa,media,debole,media
37312,2023-08-18,MOLVENO,DOLOMITI,Poco nuvoloso,13,28,molto bassa,debole,molto bassa,bassa,debole,bassa
37334,2023-08-19,MOLVENO,DOLOMITI,Poco nuvoloso,15,29,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37356,2023-08-20,MOLVENO,DOLOMITI,Sereno,18,30,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37378,2023-08-21,MOLVENO,DOLOMITI,Sereno,16,31,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37400,2023-08-22,MOLVENO,DOLOMITI,Sereno,17,31,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37422,2023-08-24,MOLVENO,DOLOMITI,Poco nuvoloso,17,32,molto bassa,debole,molto bassa,molto bassa,debole,molto bassa
37444,2023-08-25,MOLVENO,DOLOMITI,Poco nuvoloso,16,32,molto bassa,debole,molto bassa,bassa,debole,bassa
37466,2023-08-26,MOLVENO,DOLOMITI,Nuvoloso,16,31,bassa,debole,bassa,bassa,debole,bassa
37488,2023-08-28,MOLVENO,DOLOMITI,Coperto con piogge moderate,15,22,alta,forte,alta,media,debole,bassa
37510,2023-08-30,MOLVENO,DOLOMITI,Nuvoloso,8,18,bassa,debole,molto bassa,bassa,debole,bassa

Piogga dataset

In [8]:
dati_pioggia_df

          date    mm
0   2022-02-01   0.0
1   2022-03-01   0.0
2   2022-04-01   0.0
3   2022-05-01   0.0
4   2022-06-01  24.0
..         ...   ...
724 2023-12-27   0.0
725 2023-12-28   0.0
726 2023-12-29   0.0
727 2023-12-30   0.0
728 2023-12-31   0.0

[729 rows x 2 columns]

### Principal Component Analysis

## Weekend days vs weekdays

## Holidays